package main

import (
	_ "embed"
	"fmt"
	"os"
	"runtime"
	"unsafe"

	"github.com/go-webgpu/goffi/ffi"
	"github.com/go-webgpu/goffi/types"

	"github.com/romance-dev/speedboost"
)

//go:generate zig build --build-file ./lib/build.zig go-build
//go:embed lib/zig-out/mymath.shared
var sharedLibrary []byte

// func loadEmbeddedLibrary() (unsafe.Pointer, func(), error) {
// 	var libData []byte
// 	var libName string
//
// 	switch runtime.GOOS {
// 	case "linux":
// 		libData = libLinux
// 		libName = "libmathlib.so"
// 	case "windows":
// 		libData = libWindows
// 		libName = "mathlib.dll"
// 	}
//
// 	// Write to temp file
// 	tmpDir, _ := os.MkdirTemp("", "goffi-*")
// 	libPath := filepath.Join(tmpDir, libName)
// 	os.WriteFile(libPath, libData, 0o755)
//
// 	// Load
// 	lib, err := ffi.LoadLibrary(libPath)
// 	cleanup := func() { os.RemoveAll(tmpDir) }
// 	return lib, cleanup, err
// }

func ext() string {
	switch runtime.GOOS {
	case "linux":
		return "so"
	case "windows":
		return "dll"
	case "darwin":
		return "dylib"
	}

	return ""
}

func main() {
	print(speedboost.X())

	// Create temp file
	f, err := os.CreateTemp("", "*."+ext())
	if err != nil {
		panic(err)
	}

	// Copy data to file
	_, err = f.Write(sharedLibrary)
	if err != nil {
		panic(err)
	}

	defer os.Remove(f.Name())
	defer f.Close()

	lib, err := ffi.LoadLibrary(f.Name())
	if err != nil {
		panic(err)
	}

	addPtr, _ := ffi.GetSymbol(lib, "add")
	var cifAdd types.CallInterface
	ffi.PrepareCallInterface(&cifAdd, types.DefaultCall,
		types.SInt64TypeDescriptor,
		[]*types.TypeDescriptor{types.SInt64TypeDescriptor, types.SInt64TypeDescriptor})

	a, b := int64(40), int64(2)
	args := []unsafe.Pointer{unsafe.Pointer(&a), unsafe.Pointer(&b)}

	var result int64
	ffi.CallFunction(&cifAdd, addPtr, unsafe.Pointer(&result), args)
	fmt.Printf("add(40, 2) = %d\n", result) // 42

	ffi.FreeLibrary(lib)

	println("Hello world")
}
